@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --buttonColor: rgb(180, 175, 175);
    --actionsColor: rgb(243, 173, 93);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.topHeader{
    display: flex;
    justify-content: center;
    font-size: 10vw;
    margin-bottom: 40px;
    background-color: black;
    color: var(--actionsColor);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(245, 193, 193);
}

.main {
    /* border: 10px solid black; */
    max-width: 420px;
    border-radius: 2%;
}

.calcBody{
    display: flex;
    max-width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
}

.buttons{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 90px;
    cursor: pointer;
    font-size: 40px;
}

.numbers:hover {
    background-color: rgba(180, 175, 175, 0.7);
}

.actions:hover{
    background-color: rgba(243, 173, 93, 0.6);
}

.reset:hover{
    background-color: rgba(240, 138, 120, 0.6);
}

.display, .chaining {  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color: rgba(3, 3, 3, 0.9);
    border: 1px solid black;
    font-size: 70px;
    color: #fff;
    text-align: right;
    border: none;
}

.chaining {
    height: 50px;
    font-size: 40px;
    color: rgba(255,255,255,0.6);
}

.numbers {
    background-color: var(--buttonColor);
}

.actions, .equals{
    background-color: var(--actionsColor);
}

.reset {
    background-color: rgb(240, 138, 120);
    font-weight: bold;
}